<th:block th:fragment="sidebar">
  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Головна</p>
          </a>
        </li>

        <li class="nav-item menu-is-opening menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Журнали
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Уроки</p>
              </a>
            </li>


          </ul>
        </li>

        <li class="nav-item menu-is-opening menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Довідники
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="courses" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Курси</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="school" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Школи</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="school-class" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Класи</p>
              </a>
            </li>


            <li class="nav-item">
              <a href="students" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Студенти</p>
              </a>
            </li>
          </ul>
        </li>



        <li class="nav-item menu-is-opening menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Налаштування
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="academic-year" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Академічний рік</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="academic-term" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Семестри</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="grades" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Оцінки</p>
              </a>
            </li>
          </ul>
        </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
</th:block>