<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Редагування академічного року</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">

  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Видалення академічного року</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p th:text="'Видалити академічний рік '+${year.name}+' по школі '+${year.school.name}+'?'"></p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Відмова</button>
          <form action="/academic-year/delete" method="post">
            <input type="hidden" name="id" th:value="${year.id}">

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal-add">Видалити</button>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1>Редагування академічного року</h1>
          </div>

          <div class="col-sm-6">
            <ol class="float-right">

            </ol>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

        <div class="col-md-12">
          <div class="card card-default">

            <form action="/academic-year/edit" method="post">

            <div class="card-body p-0 m-3">
              <div class="bs-stepper-content">


              <div class="form-group">
                <label for="name">Назва</label>
                <input type="text" class="form-control form-control-lg" id="name" name="name" th:value="${year.name}">
              </div>

                <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="startDateEditYear">Початок року</label>

                  <div class="input-group date" id="startDateEditYear" data-target-input="nearest">
                    <input type="text" name="startDateEditYear" class="form-control datetimepicker-input" data-target="#startDateEditYear" th:value="${year.startDate}">
                    <div class="input-group-append" data-target="#startDateEditYear" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>

                </div>
              </div>
                <div class="col-6">

                <div class="form-group">
                  <label for="endDateEditYear">Кінець року</label>

                  <div class="input-group date" id="endDateEditYear" data-target-input="nearest">
                    <input type="text" name="endDateEditYear" class="form-control datetimepicker-input" data-target="#endDateEditYear" th:value="${year.endDate}">
                    <div class="input-group-append" data-target="#endDateEditYear" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>

                </div>
                </div>

              </div>

                <div class="form-group">
                  <label>Школа</label>
                  <select name="school_id" id="school_id" class="form-control select2">
                    <div th:switch="${year.school!=null}">
                      <option selected="selected" th:value="${year.school.id}" th:text="${year.school.name}" th:case="true"></option>
                    </div>
                  </select>
                </div>

              <input type="hidden" name="id" th:value="${year.id}">

              </div>

            </div>

            <div class="card-footer">
              <div class="btn-group" role="group">

                <ul class="nav nav-pills mr-1">
                  <li class="nav-item dropdown">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                      Операції <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" tabindex="-1" href="" data-toggle="modal"
                         data-target="#modal-delete">Видалити</a>
                    </div>
                  </li>
                </ul>


                <a href="/academic-year" class="btn btn-default mr-1">Відмова</a>
                <button type="submit" class="btn btn-success">Зберегти</button>
              </div>
            </div>



            </form>

          </div>
        </div>

  </div>


</div>

<div layout:fragment="css" th:remove="tag">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

  <!-- Select2 -->
  <link rel="stylesheet" href="plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

  <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</div>

<div layout:fragment="script" th:remove="tag">
  <!-- daterangepicker -->
  <script src="plugins/moment/moment.min.js"></script>
  <script src="plugins/daterangepicker/daterangepicker.js"></script>

  <!-- Tempusdominus Bootstrap 4 -->
  <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Select2 -->
  <script src="plugins/select2/js/select2.full.min.js"></script>

  <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="plugins/jquery-validation/additional-methods.min.js"></script>

  <script>
                $(function () {

                  $('#school_id').select2({
                      ajax: {
                        url: '/api/v1/schools',
                        type: "get",
                        dataType: 'json',
                        data: function (params) {
                          return {
                            search: params.term
                          }
                        },
                      processResults: function (data) {
                           return {
                              results: $.map(data, function(item) {
                                return {
                                  text: item.name,
                                  id: item.id
                                }
                              })
                            };
                      },
                      cache: true
                      }
                    });



                  //Date picker
                  $('#startDateEditYear').datetimepicker({
                      locale: 'uk',
                      format: 'DD.MM.YYYY'
                  });

                  $('#endDateEditYear').datetimepicker({
                      locale: 'uk',
                      format: 'DD.MM.YYYY'
                  });

                  $.validator.addMethod(
                      "ukrDate",
                      function(value, element) {
                          return value.match(/^(0[1-9]|1[0-9]|2[0-9]|3[0-1])(\.)(0[1-9]|1[0-2])(\.)(1[0-9]|2[0-9])\d\d$/);
                      },
                      "Дата повинна бути в форматі dd.mm.yyyy"
                  );

                  $('#editform').validate({
                      rules: {
                        name: {
                          required: true,
                          minlength: 5
                        },
                        startDateEditYear: {
                          required: true,
                          ukrDate : true
                        },
                        endDateEditYear: {
                          required: true,
                          ukrDate : true
                        },
                        school_id: {
                          required: true
                        },
                      },
                      messages: {
                        name: {
                          required: "Введіть назву",
                          minlength: "Мінімальна довжина назви 5 символів"
                        },
                        startDateEditYear: {
                          required: "Введіть дату початку року",
                        },
                        endDateEditYear: {
                          required: "Введіть дату кінця року",
                        },
                        academic_year_id: {
                          required: "Оберіть академічний рік"
                        },
                      },
                      errorElement: 'span',
                      errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                      },
                      highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                      },
                      unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                      }
                    });
            })
  </script>
</div>


</body>
</html>
