<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Класи</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

  <div class="modal fade" id="modal-add">
    <div class="modal-dialog modal-lg">
      <form id="editform" action="/school-class/add" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Створення класу</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


            <div class="form-group">
              <label for="name">Назва класу</label>
              <input type="text" class="form-control form-control-lg" id="name"
                     name="name">
            </div>


            <div class="form-group">
              <label for="description">Опис</label>
              <input type="text" class="form-control form-control-lg" id="description"
                     name="description">
            </div>

            <div class="form-group">
              <label>Школа</label>

              <select name="school_id" id="school_id" class="form-control">
                <div th:switch="${school!=null}">
                  <option selected="selected" th:value="${school.id}" th:text="${school.name}" th:case="true"></option>
                </div>
              </select>

            </div>

          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
            <button type="submit" class="btn btn-success">Зберегти</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Шкільні класи</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>


    <div class="col-md-12">
      <div class="card card-default">


        <div class="card-header p-2">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary m-1 btn-lg" data-toggle="modal"
                    data-target="#modal-add">
              Створити клас
            </button>
          </div>
        </div>

        <div class="card-body p-0 m-3">

          <div class="col-12 table-responsive">
            <table id="datatable" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th style="width: 20px">#</th>
                <th>Назва</th>
                <th>Опис</th>
                <th>Школа</th>
              </thead>
              <tbody>
              <tr th:each="class: ${classes}">
                <th th:text="${class.id}"></th>
                <td>
                  <a th:href="@{'/school-class/' + ${class.id}}" th:text="${class.name}"></a>
                </td>
                <td th:text="${class.description}"></td>
                <td th:text="${class.school.name}"></td>
              </tr>
              </tbody>

            </table>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<div layout:fragment="css" th:remove="tag">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

  <!-- Select2 -->
  <link rel="stylesheet" href="plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

  <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</div>


<div layout:fragment="script" th:remove="tag">
  <!-- Select2 -->
  <script src="plugins/select2/js/select2.full.min.js"></script>

  <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="plugins/jquery-validation/additional-methods.min.js"></script>

  <script src="plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="plugins/jszip/jszip.min.js"></script>
  <script src="plugins/pdfmake/pdfmake.min.js"></script>
  <script src="plugins/pdfmake/vfs_fonts.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

  <script>

$(function () {

$('#school_id').select2({
                      ajax: {
                        url: '/api/v1/schools',
                        type: "get",
                        dataType: 'json',
                        data: function (params) {
                          return {
                            search: params.term
                          }
                        },
                        processResults: function (data) {
                          $.each(data, function(i, d) {
                            data[i]['text'] = d.name;
                          });
                          return {
                              results: data
                          };
                      },
                      cache: true
                      }
                    });

                $("#datatable").DataTable({
                  language: {
                      url:  '/localisation/datatable-uk.json'
                  },
                  responsive: true,
                  lengthChange: true,
                  autoWidth: false
                }).buttons().container().appendTo('#datatable_wrapper .col-md-6:eq(0)');

  $.validator.setDefaults({

    submitHandler: function () {
      $('#submit').attr('disabled','disabled');
      form.submit();
    }
  });
  $('#editform').validate({
    rules: {
      name: {
        required: true,
      },
      school_id: {
        required: true
      },
    },
    messages: {
      name: {
        required: "Введіть назву",
      },
      school_id: {
        required: "Оберіть школу"
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});

  </script>
</div>


</body>
</html>
