<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Студент :: Помилка</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

  <div class="content-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
                            <span class="display-3 text-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
          <h2 class="display-3 text-black">Студента не знайдено</h2>
          <p class="lead mb-5">Нам шкода, що вказаного вами елементу неможливо знайти!</p>
          <p><a th:href="@{/academic-year}" class="btn btn-md height-auto px-4 py-3 btn-primary">Назад</a></p>
        </div>
      </div>

    </div>
  </div>

</div>
</body>
</html>